html, body {
  width: 100%;
  height:100%;
  margin: 0; padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;

    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}

.answer_bg{
  position: absolute; top: 0; left: 0;
  height: 100%; width: 100%;
  z-index: 3;

  opacity: 0;
  transition: all .5s ease-in-out;
}
.answer_bg.correct{
  background-color: #5CE65C;
  opacity: 1;
}
.answer_bg.incorrect{
  background-color: #FF0000;
  opacity: 1;
}

.lock_bg{
  position: absolute; top: 0; left: 0;
  height: 120vh; width: 100%;
  z-index: 2;
  background-color: #141414;
  opacity: 1;

  transition: all .2s ease-in-out;
}

.lock_bg.unlocked{
  opacity: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#answer_form{
  z-index: 5;
}

.media_src{
  z-index: 4;
}

p{
    font-family: 'Jersey 10', sans-serif;
    margin: 50px; padding: 0;
    font-size: 3rem;
    text-align: center;
    color: white;
    opacity: 0;
    transition: all .5s ease-in-out;
}p.header{
    font-size: 2rem;
    z-index: 5;
    opacity: 1;
}p.subheader{
    font-size: 32px;
    margin: 0px 0px 10px 0px;
    opacity: 1;
}p.welcome{
    opacity: 1;
}
p.remove{
  position: absolute;
}

/* The input bar styles */

.growing-search {
  padding: 5px 5px 5px 7px;
  border-radius: 5px;
  background: #fff;
}

.growing-search div {
  display: inline-block;
  font-size: 12px;
}

.growing-search .input input {
  margin-right: 0;
  border: none;
  font-size: inherit;
  transition: width 200ms;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 100px;
  color: black;
  border-bottom: 1px solid #eee;
}

.growing-search .input input:focus {
    width: 150px;
}

.growing-search .submit button {
  margin-left: 0;
  border: none;
  font-size: 1.15em;
  color: #aaa;
  background-color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 200ms;
}

.growing-search .input input:hover, .growing-search .submit button:hover {
  cursor: pointer;
}

.growing-search .input input:focus, .growing-search .submit button:focus {
  outline: none;
}

.growing-search .submit button:hover {
  color: #3498db;
}

/* Container bar */
.loading-bar {
  margin: 20px 0 0 0;
  width: 500px;
  height: 10px;
  background-color: #eee;
  overflow: hidden;
  opacity: 0;
  z-index: 5;
}

/* The animated fill bar */
.loading-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  transition: width 0.4s ease;
}
